extends layout.pug

block content 

  .container-fluid(style = "padding: 0;")
    .jumbotron
      .container
        .h1.text-center About the Website

  .container
    .h3.text-center This website was built to allow students to share feedback about modules they have completed in the past years.
    br 
    .container
      .h4 To register please complete the following steps:
      br 
      .h4 1. Complete the registration form
      br 
      .h4 2. Confirm UCD Connect Email by clicking Confirmation email link
      br 
      .h4 3. Log in and Review at least 4 modules
      br 
      .h4 4. Enjoy all the module Feedback and advice you now have access to
  
  


    



    