extends layout


block content
  .container
    br
    h2 Thank You for Registering!
    br
    h4 You're nearly there please check your email inbox and confirm your email address to log in.
    br
    
  