extends layout.pug

block content

  .container
      br
      h1 Are you Lost?
      h4.text-secondary To view This page you have to Log in or Register for the site
      br
      h1 Your already Logged in?
      h4.text-secondary If your already logged in you may still need to complete your initial reviews. To keep the site fair and everyone contributing the same amount we require every member to review at least 4 modules.