
$primary:        #88BBD6;
$secondary:     #aed5ddb9;
$light:         #CDCDCDCD;
$dark:          #E9E9E9;
$info:          rgb(0, 0, 0);
$warning:       #f3f3f3;


@import "../../node_modules/bootstrap/scss/bootstrap";
